<div class="product product--product-form" {{ block.shopify_attributes }}>
    {%- if product != blank -%}
        {%- liquid
            assign gift_card_recipient_feature_active = false
            if block.settings.show_gift_card_recipient and product.gift_card?
                assign gift_card_recipient_feature_active = true
            endif

            assign in_cart = false
			for item in cart.items
				if item.product.id == product.id
					assign in_cart = true
				endif
			endfor

			assign purchase_limit = product.metafields.custom.purchase_limit

			assign show_dynamic_checkout = false
            if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
                assign show_dynamic_checkout = true
            endif

            assign product_template = product.template_suffix

            if product.metafields.theme.preorder and product.available
                assign product_template = 'pre-order'
            endif
        -%}
  <product-form class="product-form" data-section="{{ section.id }}" data-hide-errors="{{ gift_card_recipient_feature_active }}" template="{{ product_template | escape }}">
		<div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
      {% render 'svg-icons' with 'thb-error' %}
      <span class="product-form__error-message"></span>
    </div>
		{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form', data-url: product.url -%}
			<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
			{%- if gift_card_recipient_feature_active -%}
				{%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
			{%- endif -%}
			<div class="product-add-to-cart-container">
				<div class="form-notification error" style="display:none;"></div>
				<div class="add_to_cart_holder{% if show_dynamic_checkout %} add_to_cart_holder--multi{%- endif -%}">
					<button type="submit" name="add" id="AddToCart" class="single-add-to-cart-button button accent {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}" {% if product.selected_or_first_available_variant.available == false or in_cart and purchase_limit == 1 %}disabled{% endif %}>
						<span class="single-add-to-cart-button--text">
							{%- liquid
								if product.selected_or_first_available_variant.available == false
									assign button_content = 'products.product.sold_out' | t

								elsif in_cart and purchase_limit == 1
									assign button_content = 'products.product.max_limit' | t
								else
									if product_template == 'pre-order'
										assign button_content = 'products.product.pre_order' | t
									else
										assign button_content = 'products.product.add_to_cart' | t
									endif
								endif
							-%}
							<span>
								<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.5 0.859375C0.5 0.52168 0.784152 0.25 1.13735 0.25H2.34566C2.92989 0.25 3.44774 0.575 3.6894 1.0625H14.604C15.3024 1.0625 15.8123 1.69727 15.6291 2.34219L14.5403 6.20918C14.3145 7.00644 13.5577 7.5625 12.6946 7.5625H5.03315L5.17655 8.28613C5.23497 8.57305 5.49788 8.78125 5.80328 8.78125H13.4594C13.8126 8.78125 14.0968 9.05293 14.0968 9.39062C14.0968 9.72832 13.8126 10 13.4594 10H5.80328C4.88443 10 4.09571 9.37539 3.92575 8.51465L2.55545 1.63379C2.53686 1.5373 2.44923 1.46875 2.34566 1.46875H1.13735C0.784152 1.46875 0.5 1.19707 0.5 0.859375ZM3.8992 12.0312C3.8992 11.8712 3.93217 11.7127 3.99623 11.5649C4.06029 11.417 4.15418 11.2826 4.27255 11.1695C4.39091 11.0563 4.53143 10.9665 4.68609 10.9053C4.84074 10.844 5.0065 10.8125 5.17389 10.8125C5.34129 10.8125 5.50705 10.844 5.6617 10.9053C5.81635 10.9665 5.95688 11.0563 6.07524 11.1695C6.19361 11.2826 6.2875 11.417 6.35156 11.5649C6.41562 11.7127 6.44859 11.8712 6.44859 12.0312C6.44859 12.1913 6.41562 12.3498 6.35156 12.4976C6.2875 12.6455 6.19361 12.7799 6.07524 12.893C5.95688 13.0062 5.81635 13.096 5.6617 13.1572C5.50705 13.2185 5.34129 13.25 5.17389 13.25C5.0065 13.25 4.84074 13.2185 4.68609 13.1572C4.53143 13.096 4.39091 13.0062 4.27255 12.893C4.15418 12.7799 4.06029 12.6455 3.99623 12.4976C3.93217 12.3498 3.8992 12.1913 3.8992 12.0312ZM12.8221 10.8125C13.1602 10.8125 13.4844 10.9409 13.7234 11.1695C13.9625 11.398 14.0968 11.708 14.0968 12.0312C14.0968 12.3545 13.9625 12.6645 13.7234 12.893C13.4844 13.1216 13.1602 13.25 12.8221 13.25C12.484 13.25 12.1598 13.1216 11.9207 12.893C11.6817 12.6645 11.5474 12.3545 11.5474 12.0312C11.5474 11.708 11.6817 11.398 11.9207 11.1695C12.1598 10.9409 12.484 10.8125 12.8221 10.8125Z" fill="#F4F5F5"/>
								</svg>
							</span>
							{{- button_content -}}
						</span>
						<span class="loading-overlay">
							{% render 'svg-icons' with 'thb-loading' %}
						</span>
					</button>
					{%- if show_dynamic_checkout -%}
						{{ form | payment_button }}
					{%- endif -%}
				</div>
			</div>
		{%- endform -%}
	</product-form>
	{%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="single_add_to_cart_button button sold-out"
          disabled
        >
          <span class="single-add-to-cart-button--text">{{ 'products.product.sold_out' | t }}</span>
        </button>
      </div>
    </div>
  {%- endif -%}
</div>
{%- if pickup -%}
{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
<pickup-availability
	class="pickup-availability-wrapper"
	{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}available{% endif %}
  data-root-url="{{ routes.root_url }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-has-only-default-variant="{{ product.has_only_default_variant }}"
>
	{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
	{%- if pick_up_availabilities.size > 0 -%}
		{% render 'product-pickup-availability', pick_up_availabilities: pick_up_availabilities %}
	{% endif %}
</pickup-availability>
<script src="{{ 'components--pickup-availability.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
