{%- liquid
	if sticky
		assign appended = '--sticky'
	endif

	assign delivery_options = "Delivery, Levering, Regelmaat, Regularity, Livraison" | split: ", "
	assign option_name = option.name
	assign handle = option_name | replace: ' ', '-' | downcase | escape
	assign product_option_descriptions = product.metafields.brandbrand.product_option_descriptions.value
	assign delivery_type = false
	if delivery_options contains option_name
		assign delivery_type = true
	endif
-%}
{%- case option_type -%}
{%- when 'dropdown' -%}
	<fieldset class="product-form__input product-form__input--dropdown" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}{{ appended }}">
		  {{ option.name }}{{ sizing_link }}
		</div>
		<div class="select">
		  <select
				id="Option-{{ section.id }}-{{ forloop.index0 }}{{ appended }}"
				name="options[{{ option.name | escape | append: appended }}]"
				form="{{ product_form_id }}"
			>
		    {%- for value in option.values -%}
		      <option
						value="{{ value | escape }}"
						data-product-url="{{ value.product_url }}"
						data-option-value-id="{{ value.id }}"
						{% unless value.available %}disabled{% endunless %}
						{% if option.selected_value == value %}selected="selected"{% endif %}
					>
		        {{ value }}
		      </option>
		    {%- endfor -%}
		  </select>
			<div class="select-arrow">{%- render 'svg-icons' with 'thb-select' -%}</div>
		</div>
	</fieldset>
{%- when 'button' -%}
	{% if delivery_type %}
		{%- liquid
			assign one_time_labels = "Eenmalig, One time, one-time, Een keer, éénmalig, une fois" | split: ", "
			assign one_time_value = null
			assign one_time_selected = false
			assign subscription_selected = false
			assign first_subscription_label = null

			for value in option.values
				assign is_one_time = false

				if one_time_labels contains value
					assign one_time_value = value
					assign index = forloop.index0
					assign is_one_time = true
				endif
				if option.selected_value == one_time_value
					assign one_time_selected = true
				else
					assign subscription_selected = true
				endif

				if first_subscription_label == null and is_one_time == false
					assign first_subscription_label = value
				endif
			endfor

			for description in product_option_descriptions
				assign handle_desc = description.label | replace: ' ', '-' | downcase | escape
				if handle_desc == handle
					assign option_description = description.text
				endif
			endfor
		-%}
		<fieldset class="product-form__input product-form__input--block product-form__input--subscription" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
			<div class="form__label">{{ option.name }}<span class="form__label__value visually-hidden">{{ option.selected_value }}</span>{{ sizing_link }}</div>
			{% if option_description %}
				<div class="form__description"><div class="form__description__value">{{- option_description | metafield_tag | replace: "metafield-rich_text_field", "metafield-rich_text_field rte" -}}</div></div>
			{% endif %}
			{%- for value in option.values -%}
				{% if value == one_time_value %}
					{%- liquid
						for variant in product.variants
							if variant.title contains value
								if variant.metafields
									assign subtitle_object = variant.metafields.brandbrand.product_option_subtitle.value
									assign subtitle_handle = subtitle_object.label | replace: ' ', '-' | downcase | escape
									assign subtitle = subtitle_object.subtitle
									break
								endif
							endif
						endfor
					-%}
					<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
						   name="{{ option.name | append: appended }}"
						   value="one_time_purchase"
						   form="{{ product_form_id }}"
						   data-product-url="{{ value.product_url }}"
						   data-option-value-id="{{ value.id }}"
						   data-option-value="{{ value.name }}"
						   {% unless value.available %}class="is-disabled"{% endunless %}
						   {% if one_time_selected %}checked{% endif %}
					>
					<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}">
						<span class="form__label__value">{{ value }}
							{% if handle == subtitle_handle and subtitle != blank %}
								<span class="form__label__subtitle">
									{{ subtitle }}
								</span>
							{% endif %}
						</span>
					</label>
				{% endif %}
			{%- endfor -%}

			<div class="custom-option custom-option-{{ option.name | replace: ' ', '_' }} subscription-option">
				<input type="radio" id="{{ section.id }}-{{ option.position }}-1{{ appended }}"
					   name="{{ option.name | append: appended }}"
					   value="subscription"
					   form="{{ product_form_id }}"
					   {% if subscription_selected %}checked{% endif %}
				>
				<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}">
						<span class="form__label__value">{{ 'general.subscription.title' | t }}<span class="form__label__value_discount">-10%</span></span>
						<div class="form__description"><div class="form__description__value">{{ 'general.subscription.description' | t }}</div></div>
						<div class="select select-wrapper">
							<select id="Option-{{ section.id }}-{{ forloop.index0 }}{{ appended }}"
									name="options[{{ option.name | escape | append: appended }}]"
									form="{{ product_form_id }}"
									class="disable-display"
							>
								{%- for value in option.values -%}
										<option
												value="{{ value | escape }}"
												data-product-url="{{ value.product_url }}"
												data-option-value-id="{{ value.id }}"
												{% unless value.available %}disabled{% endunless %}
												{% if value == one_time_value %}style="display: none"{% endif %}
										>
											{{ value }}
										</option>
								{%- endfor -%}
							</select>
							{% if subscription_selected %}
								<div class="fake-label">{{ option.selected_value }}</div>
							{% else %}
								<div class="fake-label">{{ first_subscription_label }}</div>
							{% endif %}
						<div class="select-arrow">{%- render 'svg-icons' with 'thb-select' -%}</div>
					</div>
				</label>
			</div>
		</fieldset>
	{% else %}
		{%- liquid
			for description in product_option_descriptions
				assign handle_desc = description.label | replace: ' ', '-' | downcase | escape
				if handle_desc == handle
					assign option_description = description.text
				endif
			endfor
		-%}
		<fieldset class="product-form__input product-form__input--block" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label">{{ option.name }}<span class="form__label__value visually-hidden">{{ option.selected_value }}</span>{{ sizing_link }}</div>
		{% if option_description %}
		<div class="form__description"><div class="form__description__value">{{- option_description | metafield_tag | replace: "metafield-rich_text_field", "metafield-rich_text_field rte" -}}</div></div>
		{% endif %}
		{%- for value in option.values -%}
			<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
						name="{{ option.name | append: appended }}"
						value="{{ value | escape }}"
						form="{{ product_form_id }}"
						data-product-url="{{ value.product_url }}"
						data-option-value-id="{{ value.id }}"
						{% unless value.available %}class="is-disabled"{% endunless %}
						{% if option.selected_value == value %}checked{% endif %}
			>
			{%- liquid

				for variant in product.variants
					if variant.title contains value
						if variant.metafields
							assign subtitle_object = variant.metafields.brandbrand.product_option_subtitle.value
							assign subtitle_handle = subtitle_object.label | replace: ' ', '-' | downcase | escape
							assign subtitle = subtitle_object.subtitle
							break
						endif
					endif
				endfor
			-%}
			<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}">
				<span class="form__label__value">{{ value }}
					{% if handle == subtitle_handle and subtitle != blank %}
						<span class="form__label__subtitle">
							{{ subtitle }}
						</span>
					{% endif %}
				</span>
			</label>
		{%- endfor -%}
	</fieldset>
	{% endif %}
{%- when 'color' -%}
	{%- liquid
	assign custom_colors = settings.color_swatches | newline_to_br | split: '<br />'
	assign key_array = ''
	assign val_array = ''

	for color in custom_colors
		assign key = color | split: ':' | first | rstrip
		assign value = color | split: ':' | last | lstrip
		assign key_array = key_array | append: ',' | append: key
		assign val_array = val_array | append: ',' | append: value
	endfor

	assign key_array = key_array | remove_first: ',' | strip_newlines | downcase | split: ','
	assign val_array = val_array | remove_first: ',' | split: ','

	assign variant_image_size = '80'
		case color_picker_size
			when 'large'
				assign variant_image_size = '120'
			when 'xlarge'
				assign variant_image_size = '160'
		endcase
	-%}
	<fieldset class="product-form__input product-form__input--color product-form__input--color--{{ color_picker_size }}" data-use-images="{{ color_picker_use_variants }}" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label">{{ option.name }}: <span class="form__label__value">{{ option.selected_value }}</span>{{ sizing_link }}</div>
		{%- for value in option.values -%}
			<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
						name="{{ option.name | append: appended }}"
						value="{{ value | escape }}"
						form="{{ product_form_id }}"
						data-product-url="{{ value.product_url }}"
						data-option-value-id="{{ value.id }}"
						{% unless value.available %}class="is-disabled"{% endunless %}
						{% if option.selected_value == value %}checked{% endif %}
			>
			{%- liquid
				assign color_value = value | downcase | escape

				for custom_color in key_array
					if custom_color == color_value
						assign color_value = val_array[forloop.index0]
					endif
				endfor

				assign bg_value = empty
				if color_value contains '.'
					assign bg_value = color_value | file_url
					assign color_value = 'var(--bg-body)'
				endif
				
				if color_picker_use_variants
					assign variant_image = blank

					for variant in product.variants
						if variant.title contains value
							if variant.image
								assign bg_value = variant.image | image_url: width: variant_image_size
								break
							endif
						endif
					endfor
				endif

				if value.swatch.image
					assign bg_value = value.swatch.image | image_url: width: variant_image_size
					assign swatch_focal_point = value.swatch.image.presentation.focal_point
				elsif value.swatch.color
					assign color_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
				endif
			-%}
			<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}" style="--option-color: {{ color_value | downcase | escape }}; {%- if bg_value -%} --option-color-image: url('{{ bg_value | escape }}');{%- endif -%}">
				{{ value }}
			</label>
		{%- endfor -%}
	</fieldset>
{%- endcase -%}
